.jumbotron {
    background-color: #ffffff;
}

.jumbotron-heading {
    font-size: 2.5rem;
    font-weight: 300;
}

@media (max-width: 766px) {
    .snail-shell {
        width: 20%;
    }
}

@media (min-width: 767px) {
    .snail-shell {
        width: 10%;
    }
}

.post-preview {
    display: block;
}