<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>[{{ page.title }}]("{{ page.url | relative_url }}")</title>
   <meta name="author" content="Snail Van Horn" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ "/css/overrides.css" | relative_url }}" type="text/css">
</head>
<body>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="mx-auto jumbotron-heading">
                <a href="/">
                    Snail's Shell
                    <img class="snail-shell" src="{{ "/images/snailshell.svg" | relative_url }}">
                </a>
            </h1>
        </div>
    </section>

    <!-- this is not wrapped in a div because we want to specify our container-based layouts in our partials -->
    {{ content }}

<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <h5>Snail Van Horn</h5>
                <small class="d-block mb-3 text-muted">© 2018-2200</small>
            </div>
            <div class="col-12 col-md">
                <h5>Follow me</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a href="http://github.com/{{ site.github_username }}/">{% octicon mark-github %} github.com/{{ site.github_username }}</a>
                    </li>
                    <li>
                       <a href="http://twitter.com/{{ site.twitter_username }}/">{% octicon verified %} twitter.com/{{ site.twitter_username }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</main>

<!-- bootstrap and shit -->
<script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>